!!! html
%html
  %head
    %meta( charset='utf-8' )
    %title
      Your Account dashboard
    %meta( name='description' content='' )
    = stylesheet_link_tag("dashboard")
    /[if IE]
      = stylesheet_link_tag("common/ie")
    /[if lte IE 6]
      = stylesheet_link_tag("common/ie6")
    /[if gte IE 7]
      = stylesheet_link_tag("common/ie7")
  %body
    #focus
      #header
        Header Content
      #content.clear
        = yield
      #footer
        Footer Content
    
    
                
